@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");


html {
    background: rgba(8, 23, 59, 0.71) linear-gradient(#041736, #000000) fixed;
    height: 100%
}

body {
    padding: 30px 0;
    margin: 0;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c2c2c2;
    font-weight: 300;
    background: url("../images/bg.png") fixed;
    min-height: calc(100% - 100px)
}

.wrapper {
    width: 740px;
    margin: 0 auto;
    background: #DEDEDE;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px
}

.intro {
    color: #dcdcdc;
}

header, section, footer {
    display: block
}

a {
    color: rgb(6, 126, 186);
    text-decoration: none
}

p {
    margin: 0 0 15px;
    padding: 0
}

strong {
    color: #b6b6b6;
    font-weight: 700
}

header {
    background: #0f3541;
    background: linear-gradient(rgba(0, 14, 16, 0.87), rgba(1, 10, 16, 0.85));
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #00a5ee
}

header h1 {
    padding: 0;
    font-size: 24px;
    line-height: 1.2;
    color: #19b4e3;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0
}

header p {
    margin: 0;
    color: #0da6d5;
    width: 300px;
    font-size: 13px;
    font-weight: bold;
}

header p.view {
    color: #0f88ad;
    display: none;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
    -webkit-font-smoothing: antialiased;
    text-decoration: underline;
}

header p.view a {
    color: #90aac5
}

header p.view small {
    font-weight: 400
}

header ul {
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 38px;
    padding: 1px 0;
    background: #0066cc;
    background: linear-gradient(#14aad9, #14aad9);
    border-radius: 5px;
    box-shadow: inset rgba(255, 255, 255, 0.45) 0 1px 0, inset rgba(241, 16, 16, 0.2) 0 -1px 0;
    width: auto
}

header ul:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -4px;
    right: -5px;
    bottom: -6px;
    background: rgba(0, 0, 0, 0);
    border-radius: 8px;
    box-shadow: rgba(17, 1, 1, 0) 0 -1px 0, inset rgba(15, 19, 19, 0) 0 -1px 0
}

header ul li {
    width: 79px;
    float: left;
    border-right: 1px solid #3A7CBE;
    height: 38px
}

header ul li.single {
    border: none
}

header ul li + li {
    width: 88px;
    border-left: 1px solid #8BBEF3
}

header ul li + li + li {
    border-right: none;
    width: 89px
}

header ul a {
    line-height: 1;
    font-size: 12px;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    height: 40px;
    text-shadow: rgba(30, 30, 30, 0.4) 0 -1px 0
}

header ul a strong {
    font-size: 14px;
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased
}

section {
    padding: 15px 25px;
    font-size: 15px;
    border-top: 1px solid #383838;
    background: linear-gradient(#2f2f2f, #2a2a2a 700px);
    position: relative;
    border-bottom: 1px solid #424242;
}

section h1 {
    margin-top: 10px;
}

h1, h2, h3, h4, h5 {
    color: white;
    margin: 0 0 15px;
    line-height: 1.2
}

p, ul {
    margin: 0 0 15px;
    color: #cdc9c9;
}


.commands {
    font-size: 15px;
}


h1, h2, h3 {
    line-height: 1.1
}

h1 {
    font-size: 28px
}

h2 {
    color: #e3e3e3
}

h4, h5 {
    color: #d8d8d8
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, serif;
    color: #ffffff;
    background: #000000;
    font-size: 93%;
    overflow-x: auto
}

pre code {
    color: #f8f8f2
}

li pre {
    margin-left: -60px;
    padding-left: 60px
}

footer {
    width: 640px;
    margin: 0 auto;
    padding: 10px 0 0;
    color: #ccc;
    overflow: hidden
}

footer a {
    color: #fff;
    font-weight: bold
}

footer p {
    float: left
}

footer p + p {
    float: right
}

@media print, screen and (max-width: 740px) {
    body {
        padding: 0
    }

    .wrapper {
        border-radius: 0;
        box-shadow: none;
        width: 100%
    }

    footer {
        border-radius: 0;
        padding: 20px;
        width: auto
    }

    footer p {
        float: none;
        margin: 0
    }

    footer p + p {
        float: none
    }
}

@media print, screen and (max-width: 580px) {
    header ul {
        display: none
    }

    header p.view {
        display: block
    }

    header p {
        width: 100%
    }
}

@media print {
    header p.view a small:before {
        content: 'at https://github.com/'
    }
}
